NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://moyomjomba:moyomjomba@monster.wbdw3fz.mongodb.net/zuri?retryWrites=true&w=majority&appName=Monster

# Redis
REDIS_URL=redis://localhost:6379

# Frontend URL (for CORS & email links)
CLIENT_URL=http://localhost:3000
